# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.turbo/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
coverage/
.cache/

# drizzle
packages/database/drizzle/
!packages/database/drizzle/.gitkeep
