{
  "openapi": "3.1.0",
  "info": {
    "title": "SAGRES Captura Municipal",
    "description": "A API **SAGRES Captura Municipal** tem como objetivo disponibilizar os dados enviados ao sistema de captura municipal.\n\n## Informações Gerais\n- - -\n<br/>\n\n**Limite de Requisições:**\n- Para garantir a segurança e a estabilidade, a API permite no máximo **10 requisições** a cada **10 segundos** por origem.      \n\n**Paginação:**\n- A API utiliza um sistema de paginação **base-0**, onde a primeira página da resposta é identificada como **página 0**.\n\n**Autenticação:**\n- • Todos os endpoints da API requerem autenticação via Bearer Token (JWT).\n- • O token deve ser obtido previamente através do sistema de autenticação do TCE.\n- • Para acessar a API, inclua o token no cabeçalho HTTP da seguinte forma: ```Authorization: Bearer <TOKEN_JWT>```",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte SAGRES",
      "email": "suportesagres@tce.pb.gov.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://sagres-api.tce.pb.gov.br/municipal/captura",
      "description": "Servidor de produção para consultas das informações enviadas ao SAGRES Captura Municipal."
    }
  ],
  "tags": [
    {
      "name": "Ação",
      "description": "Consultas sobre registros de Ações"
    },
    {
      "name": "Atualização Orçamentária",
      "description": "Consultas sobre registros de Atualizações Orçamentárias"
    },
    {
      "name": "Cargo",
      "description": "Consultas sobre registros de Cargos"
    },
    {
      "name": "Código Vantagem Desconto",
      "description": "Consultas sobre registros de Códigos Vantagens Descontos"
    },
    {
      "name": "Conciliação Bancária",
      "description": "Consultas sobre registros de Conciliações Bancárias"
    },
    {
      "name": "Consignação",
      "description": "Consultas sobre registros de Consignações"
    },
    {
      "name": "Decreto e Ofício",
      "description": "Consultas sobre registros de Decretos e Ofícios"
    },
    {
      "name": "Dotação",
      "description": "Consultas sobre registros de Dotações"
    },
    {
      "name": "Empenho",
      "description": "Consultas sobre registros de Empenhos"
    },
    {
      "name": "Extraorçamentário",
      "description": "Consultas sobre registros extraorçamentários"
    },
    {
      "name": "Folha",
      "description": "Consultas sobre registros de Folhas"
    },
    {
      "name": "Fornecedor",
      "description": "Consultas sobre registros de Fornecedor"
    },
    {
      "name": "Interna",
      "description": "Consultas sobre registros internos"
    },
    {
      "name": "Liquidação",
      "description": "Consultas sobre registros de Liquidações"
    },
    {
      "name": "Matrícula",
      "description": "Consultas sobre registros de Matrículas"
    },
    {
      "name": "Pagamento",
      "description": "Consultas sobre registros de Pagamentos"
    },
    {
      "name": "Programa",
      "description": "Consultas sobre registros de Programas"
    },
    {
      "name": "Receita",
      "description": "Consultas sobre registros de Receitas"
    },
    {
      "name": "Relacionamento",
      "description": "Consultas sobre registros de relacionamentos"
    },
    {
      "name": "Resto",
      "description": "Consultas sobre registros de Restos"
    },
    {
      "name": "Retenção",
      "description": "Consultas sobre registros de Retenções"
    },
    {
      "name": "Saldo",
      "description": "Consultas sobre registros de Saldos"
    },
    {
      "name": "Servidor",
      "description": "Consultas sobre registros de Servidores"
    },
    {
      "name": "Transferência",
      "description": "Consultas sobre registros de Transferências"
    },
    {
      "name": "Unidade Orçamentária",
      "description": "Consultas sobre registros de Unidades Orçamentárias"
    }
  ],
  "paths": {
    "/acoes": {
      "get": {
        "operationId": "getAcoesCapturaMunicipal",
        "summary": "Ações",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/acoes?exercicio=2024&unidadeGestora=101001&page=0&size=20\n```",
        "tags": [
          "Ação"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/acao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "exercicio": 2025,
                        "codigo": "0001",
                        "descricaoAcao": "Amortização e Encargo da Dívida com o INSS",
                        "descricaoMeta": "Em Apuração",
                        "descricaoUnidade": "UND",
                        "nome": "Projeto"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/acoes?exercicio=2025&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/acoes?exercicio=2025&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/acoes?exercicio=2025&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/acoes?exercicio=2025&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/acoes?exercicio=2025&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/atualizacoes-orcamentarias": {
      "get": {
        "operationId": "getAtualizacoesOrcamentariasCapturaMunicipal",
        "summary": "Atualizações Orçamentárias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&codigoUnidadeOrcamentaria=12345&codigoFuncao=12345&codigoSubFuncao=12345&codigoPrograma=12345&codigoAcao=12345&codigoCategoriaEconomica=12345&codigoNaturezaDespesa=12345&codigoModalidade=12345&codigoElementoDespesa=12345&codigoFonteRecurso=12345&exercicioFonteRecurso=2024&page=0&size=20\n```",
        "tags": [
          "Atualização Orçamentária"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_unidade_orcamentaria"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_funcao"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_sub_funcao"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_programa"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_acao"
          },
          {
            "$ref": "#/components/parameters/param_query_categoria_economica"
          },
          {
            "$ref": "#/components/parameters/param_query_natureza_despesa"
          },
          {
            "$ref": "#/components/parameters/param_query_modalidade"
          },
          {
            "$ref": "#/components/parameters/param_query_elemento_despesa"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_fonte_recurso"
          },
          {
            "$ref": "#/components/parameters/param_query_exercicio_fonte_recurso"
          },
          {
            "in": "query",
            "name": "numeroDecreto",
            "description": "Número do Decreto.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 11,
              "maxLength": 11,
              "example": "00000000000"
            }
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/atualizacao_orcamentaria_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "exercicio": 2025,
                        "codigoUnidadeOrcamentaria": "20200",
                        "codigoFuncao": "04",
                        "codigoSubFuncao": "122",
                        "codigoPrograma": "3002",
                        "codigoAcao": "1002",
                        "codigoCategoriaEconomica": "4",
                        "codigoNaturezaDespesa": 4,
                        "codigoModalidade": 90,
                        "codigoElementoDespesa": "52",
                        "exercicioFonteRecurso": 1,
                        "fonteRecurso": 280,
                        "numeroDecreto": "00000000",
                        "valorOrcamento": 57500.1
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/atualizacoes-orcamentarias?exercicio=2024&unidadeGestora=101001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/cargos": {
      "get": {
        "operationId": "getCargosCapturaMunicipal",
        "summary": "Cargos",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/cargos\n```",
        "tags": [
          "Cargo"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_cargo"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cargo_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "codigo": "00000010",
                        "nome": "AGENTE ADMINISTRATIVO",
                        "protocolo": "029895/25",
                        "codCBO": 1233,
                        "codTipoEscolaridade": 3,
                        "nomeTipoEscolaridade": "Ensino médio",
                        "codTipoCargo": 1,
                        "nomeTipoCargo": "Efetivos"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/cargos?unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/cargos?unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/cargos?unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/cargos?unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/cargos?unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/codigos-vantagens-descontos": {
      "get": {
        "operationId": "getCodigosVantagensDescontosCapturaMunicipal",
        "summary": "Códigos Vantagens Descontos",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/codigos-vantagens-descontos\n```",
        "tags": [
          "Código Vantagem Desconto"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "in": "query",
            "name": "codigo",
            "description": "Código da vantagem desconto.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 6,
              "maxLength": 6,
              "example": "210001"
            }
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/codigo_vantagem_desconto_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "codigo": "210001",
                        "nomenclatura": "SUBSIDIOS",
                        "calcBasePrevidenciario": false,
                        "anoCadastro": 2025,
                        "tipoLancamentoFopag": 0,
                        "tipoContabilizacaoFopag": 0
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/codigos-vantagens-descontos?unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/codigos-vantagens-descontos?unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/codigos-vantagens-descontos?unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/codigos-vantagens-descontos?unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/codigos-vantagens-descontos?unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/conciliacoes-bancarias": {
      "get": {
        "tags": [
          "Conciliação Bancária"
        ],
        "summary": "Lista Conciliações Bancárias",
        "description": "Exemplo de uso:\n```\n/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=0&size=20\n```",
        "operationId": "listarConciliacoesBancarias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_mes"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/conciliacao_bancaria_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codigoUnidadeGestora": "201023",
                        "numeroContaBancaria": "0000000000000",
                        "numeroAgencia": "000000",
                        "codigoBanco": "000",
                        "numero": 1000001,
                        "tipoConciliacao": 1,
                        "descricao": "SALDO CONFORME EXTRATO BANCARIO                                                                                                                       ",
                        "data": "2025-01-31",
                        "numeroCheque": "000000",
                        "numeroDocDebito": "000X000",
                        "valor": 0,
                        "mes": 1,
                        "tipoContaBancaria": 1,
                        "cnpjGerenciaContaBancaria": "00000000000000"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=19&size=20"
                    },
                    "self": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=20&size=20"
                    },
                    "next": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=21&size=20"
                    },
                    "last": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/conciliacoes-bancarias?exercicio=2025&unidadeGestora=201023&mes=1&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/contas-bancarias": {
      "get": {
        "tags": [
          "Conta Bancária"
        ],
        "summary": "Lista Contas Bancárias",
        "description": "Exemplo de uso:\n```\n/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=101001&page=0&size=20\n```",
        "operationId": "listarContasBancarias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/conta_bancaria_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "numero": "0000000000000",
                        "situacao": true,
                        "codBanco": "000",
                        "numAgencia": "000000",
                        "descricao": "Conta Caixa",
                        "tipo": 1,
                        "descricaoTipo": "Conta Corrente",
                        "cnpjGerencia": "09145368000112"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/contas-bancarias?exercicio=2024&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/decretos-oficios": {
      "get": {
        "operationId": "getDecretosOficiosCapturaMunicipal",
        "summary": "Decretos e Ofícios",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&numeroDecreto=000012026&tipo=2&page=0&size=20\n```",
        "tags": [
          "Decreto e Ofício"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio_integer"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_decreto"
          },
          {
            "$ref": "#/components/parameters/param_query_tipo"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/decreto_oficio_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "competencia": 2026,
                        "numero": "000012026",
                        "numLei": "06032025",
                        "data": "2026-04-10",
                        "tipo": 2
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://sagres-api.tce.pb.gov.br/municipal/captura/decretos-oficios?exercicio=2026&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/despesas-extra": {
      "get": {
        "operationId": "getDespesasExtraCapturaMunicipal",
        "summary": "Despesas Extraorçamentárias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&codigoContaContabil=218820101&cpfCnpjFornecedor=09145368000112&page=0&size=20\n```",
        "tags": [
          "Extraorçamentário"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio_integer"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_codigo_conta_contabil"
          },
          {
            "$ref": "#/components/parameters/param_query_cpf_cnpj_fornecedor"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/despesa_extra_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "numero": "0000001",
                        "codContaContabil": "218919800",
                        "data": "2024-01-04",
                        "cpfCnpjFornecedor": "XXX",
                        "exercicioFonteRecurso": 2024,
                        "codFonteRecurso": 716,
                        "numContaBancaria": "0000000222542",
                        "numAgencia": "027146",
                        "codBanco": "001",
                        "tipoContaBancaria": 1,
                        "cnpjGerenciaContaBancaria": "XXX",
                        "valor": 587.02,
                        "historico": "EMPENHO RELATIVO A APROVACAO DE PROPONENTE DO EDITAL PREMIACAO GUTO MELO N 0012023 CATEGORIA ARTES PLASTICAS VISUAIS E FOTOGRAFIA DESTE MUNICIPIO ONDE OS RECURSOS NECESSARIOS PARA O DESENVOVIMENTO DESTA ACAO SAO ORIUNDOS DA LEI PAULO GUSTAVO Lei Complementar n 195 de 08 de julho de 2022 QUE DISPOE SOBRE ACOES EMERGENCIAIS DESTINADAS AO SETOR CULTURAL CONFORME DOCUMENTO EM ANEXO.",
                        "codDespesaExtra": "20000010",
                        "exercicio": 2024,
                        "codFonteRecursoPagamento": 716
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/despesas-extra?exercicio=2024&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/saldos-consignacoes": {
      "get": {
        "operationId": "getSaldosConsignacoesCapturaMunicipal",
        "summary": "Saldos de Consignações",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/saldos-consignacoes?exercicio=2024&unidadeGestora=101001&page=0&size=20\n```",
        "tags": [
          "Consignação"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/saldo_consignacao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "ano": 2019,
                        "mesCompetencia": 1,
                        "dataLancamento": "2019-01-02",
                        "numeroReceita": "0000025",
                        "codigoContaContabil": "218820101",
                        "descricaoContaContabil": "RPPS - RETENÇÕES SOBRE VENCIMENTOS E VANTAGENS",
                        "cpfCnpj": "09145368000112",
                        "valorReceita": 114.38,
                        "valorDespesa": 0,
                        "valorSaldo": 300
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/saldos-consignacoes?exercicio=2019&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/saldos-consignacoes?exercicio=2019&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/saldos-consignacoes?exercicio=2019&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/saldos-consignacoes?exercicio=2019&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/saldos-consignacoes?exercicio=2019&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/dotacoes": {
      "get": {
        "operationId": "getDotacoesCapturaMunicipal",
        "summary": "Dotações",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&codigoUnidadeOrcamentaria=12345&codigoFuncao=12345&codigoSubFuncao=12345&codigoPrograma=12345&codigoAcao=12345&codigoCategoriaEconomica=12345&codigoNaturezaDespesa=12345&codigoModalidade=12345&codigoElementoDespesa=12345&codigoFonteRecurso=12345&exercicioFonteRecurso=2024&page=0&size=20\n```",
        "tags": [
          "Dotação"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_unidade_orcamentaria"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_funcao"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_sub_funcao"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_programa"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_acao"
          },
          {
            "$ref": "#/components/parameters/param_query_categoria_economica"
          },
          {
            "$ref": "#/components/parameters/param_query_natureza_despesa"
          },
          {
            "$ref": "#/components/parameters/param_query_modalidade"
          },
          {
            "$ref": "#/components/parameters/param_query_elemento_despesa"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_fonte_recurso"
          },
          {
            "$ref": "#/components/parameters/param_query_exercicio_fonte_recurso"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dotacao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "exercicio": 2025,
                        "codigoUnidadeOrcamentaria": "20200",
                        "codigoFuncao": "04",
                        "codigoSubFuncao": "122",
                        "codigoPrograma": "3002",
                        "codigoAcao": "1002",
                        "codigoCategoriaEconomica": "4",
                        "codigoNaturezaDespesa": 4,
                        "codigoModalidade": 90,
                        "codigoElementoDespesa": "52",
                        "exercicioFonteRecurso": 1,
                        "fonteRecurso": 280,
                        "valorOrcamento": 57500.1
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/dotacoes?exercicio=2024&unidadeGestora=101001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/empenhos": {
      "get": {
        "operationId": "getEmpenhosCapturaMunicipal",
        "summary": "Empenhos",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&mes=1&codigoUnidadeOrcamentaria=12345&numeroEmpenho=12345&page=0&size=20\n```",
        "tags": [
          "Empenho"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_mes"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_unidade_orcamentaria"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_empenho"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/empenho_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "101001",
                        "codUnidadeOrcamentaria": "10200",
                        "anoEmissaoEmpenho": 2024,
                        "numeroEmpenho": "0000014",
                        "dataEmissao": "2023-02-25",
                        "codigoFuncao": "01",
                        "codigoSubFuncao": "031",
                        "codigoPrograma": "3001",
                        "codigoAcao": "2001",
                        "codigoCategoriaEconomica": "3",
                        "codigoGrupoNaturezaDespesa": 3,
                        "codigoModalidadeDespesa": 90,
                        "codigoElementoDespesa": "39",
                        "codigoFonteRecurso": 500,
                        "anoFonteRecurso": 1
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/empenhos?exercicio=2024&unidadeGestora=101001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/estornos-despesa-extra": {
      "get": {
        "operationId": "getEstornosDespesaExtraCapturaMunicipal",
        "summary": "Estornos de Despesas Extraorçamentárias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&numeroEstornoDespesaExtra=0000001&numeroDespesaExtra=0000001&page=0&size=20\n```",
        "tags": [
          "Extraorçamentário"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio_integer"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_estorno_despesa_extra"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_despesa_extra"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/estorno_despesa_extra_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "numDespesaExtra": "0000692",
                        "numero": "0000886",
                        "data": "2024-02-19",
                        "valor": 6675.24,
                        "motivo": ""
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/estornos-despesa-extra?exercicio=2024&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/estornos-empenhos": {
      "get": {
        "operationId": "getEstornosEmpenhosCapturaMunicipal",
        "summary": "Estornos de Empenhos",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=101001&mes=1&codigoUnidadeOrcamentaria=12345&numeroEmpenho=12345&page=0&size=20\n```",
        "tags": [
          "Empenho"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_mes"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_unidade_orcamentaria"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_empenho"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_estorno"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/estorno_empenho_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "codUnidadeOrcamentaria": "20500",
                        "anoEmissaoEmpenho": 2023,
                        "numeroEmpenho": "0000335",
                        "numeroEstorno": "0000001",
                        "dataEstorno": "2023-01-30",
                        "motivoEstorno": "ANULACAO EM VIRTUDE DE EMPENHAMENTO COM FONTE DE RECURSO INCORRETA.",
                        "valorEstorno": 75150.65
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/estornos-empenhos?exercicio=2024&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/agrupamentos-folha": {
      "get": {
        "operationId": "getAgrupamentosFolhaCapturaMunicipal",
        "summary": "Agrupamentos de Folha de Pagamento",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/agrupamentos-folha?exercicio=2024&unidadeGestora=101001&page=0&size=20\n```",
        "tags": [
          "Folha"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agrupamento_folha_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "exercicio": 2024,
                        "codigoAgrupamento": "0100008001",
                        "descricaoAgrupamento": "GABINETE DO PREFEITO - ESTATUTARIOS"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/agrupamentos-folha?exercicio=2025&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/agrupamentos-folha?exercicio=2025&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/agrupamentos-folha?exercicio=2025&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/agrupamentos-folha?exercicio=2025&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/agrupamentos-folha?exercicio=2025&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/folhas-pagamento": {
      "get": {
        "operationId": "getFolhasPagamentoCapturaMunicipal",
        "summary": "Folhas de Pagamento",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=101001&mes=1&page=0&size=20\n```",
        "tags": [
          "Folha"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_mes",
            "required": true
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/folha_pagamento_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "nomeServidor": "JOSÉ GUSTAVO GOMES ANDRADE",
                        "cpf": "00000000000",
                        "rg": "0000000",
                        "orgaoEmissor": "SSDS PB",
                        "dataNascimento": "1998-02-06",
                        "sexo": "M",
                        "portadorDeficiencia": false,
                        "codigoCargo": "60000048",
                        "nomeCargo": "MOTORISTA",
                        "matricula": "000000066126021",
                        "dataAdmissao": "2024-02-01",
                        "exercicio": 2024,
                        "mes": 8,
                        "codigoOperacao": 1,
                        "valorLancamento": 197.68,
                        "codigoVantagemDesconto": "600501",
                        "nomenclatura": "PREVIDENCIA PROPRIA",
                        "calcBasePrevidenciario": false,
                        "tipoFolhaPagamento": 0,
                        "codigoAgrupamentoFolha": "0800008055",
                        "nomeAgrupamentoFolha": "SECRETARIA DA SAUDE - SAUDE DA FAMILIA - PREVIDENCIARIO"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=201001&mes=1&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=201001&mes=1&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=201001&mes=1&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=201001&mes=1&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/folhas-pagamento?exercicio=2024&unidadeGestora=201001&mes=1&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/fornecedores": {
      "get": {
        "operationId": "getFornecedoresCapturaMunicipal",
        "summary": "Fornecedor",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=0&size=20\n```",
        "tags": [
          "Fornecedor"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_cpf_cnpj"
          },
          {
            "$ref": "#/components/parameters/param_query_tipo_fornecedor"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fornecedor_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201095",
                        "cpfCnpj": "0123456789",
                        "nome": "ADRIANA LIMA",
                        "tipoCredor": 1
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/fornecedores?exercicio=2024&unidadeGestora=201095&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/modalidades-licitacao": {
      "get": {
        "operationId": "getModalidadesLicitacaoCapturaMunicipal",
        "summary": "Modalidade Licitação",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/modalidades-licitacao?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/modalidade_licitacao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 0,
                        "modalidadeLicitacao": "Concorrência"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/modalidades-licitacao?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/modalidades-licitacao?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/modalidades-licitacao?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/modalidades-licitacao?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/modalidades-licitacao?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-cargos": {
      "get": {
        "operationId": "getTiposCargosCapturaMunicipal",
        "summary": "Tipos Cargos",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-cargos?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_cargo_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 1,
                        "nome": "Efetivo"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-cargos?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-cargos?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-cargos?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-cargos?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-cargos?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-combustivel": {
      "get": {
        "operationId": "getCombustivelCapturaMunicipal",
        "summary": "Tipos Combustível",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-combustivel?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_combustivel_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codigo": 1,
                        "descricao": "Gasolina"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-combustivel?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-combustivel?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-combustivel?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-combustivel?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-combustivel?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-conciliacoes": {
      "get": {
        "operationId": "getTiposConciliacaoCapturaMunicipal",
        "summary": "Tipos Conciliação",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-conciliacoes?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_conciliacao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 1,
                        "nome": "Saldo conforme extrato bancário"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-conciliacoes?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-conciliacoes?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-conciliacoes?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-conciliacoes?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-conciliacoes?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-contas-bancarias": {
      "get": {
        "operationId": "getTiposContaBancariaCapturaMunicipal",
        "summary": "Tipos de Contas Bancárias",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-contas-bancarias?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_conta_bancaria_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 1,
                        "nome": "Conta Corrente"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-contas-bancarias?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-contas-bancarias?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-contas-bancarias?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-contas-bancarias?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-contas-bancarias?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-frota": {
      "get": {
        "operationId": "getTiposFrotaCapturaMunicipal",
        "summary": "Tipos Frota",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-frota?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_frota_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codigo": 1,
                        "descricao": "Em uso"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-lancamentos-folhas-pagamento": {
      "get": {
        "operationId": "getTiposLancamentoFolhaPagamentoCapturaMunicipal",
        "summary": "Tipos de Lançamentos de Folha de Pagamento",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-lancamentos-folhas-pagamento?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_lancamento_folha_pagamento_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 0,
                        "nome": "Vantagem"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-lancamentos-folhas-pagamento?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-lancamentos-folhas-pagamento?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-lancamentos-folhas-pagamento?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-lancamentos-folhas-pagamento?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-lancamentos-folhas-pagamento?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-movimentos-folhas-pagamento": {
      "get": {
        "operationId": "getTiposMovimentoFolhaPagamentoCapturaMunicipal",
        "summary": "Tipos Movimentos Folhas Pagamento",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-movimentos-folhas-pagamento?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_movimento_folha_pagamento_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "id": 0,
                        "nome": "Orçamentário"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-movimentos-folhas-pagamento?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-movimentos-folhas-pagamento?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-movimentos-folhas-pagamento?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-movimentos-folhas-pagamento?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-movimentos-folhas-pagamento?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-situacao-frota": {
      "get": {
        "operationId": "getTiposSituacaoFrotaCapturaMunicipal",
        "summary": "Tipos Situação Frota",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-situacao-frota?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_situacao_frota_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codigo": 1,
                        "descricao": "Em uso"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-situacao-frota?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/tipos-veiculo": {
      "get": {
        "operationId": "getTiposVeiculoCapturaMunicipal",
        "summary": "Tipos Veículo",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/tipos-veiculo?page=0&size=20\n```",
        "tags": [
          "Interna"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tipo_veiculo_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "descricao": "carros"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/tipos-veiculo?page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/tipos-veiculo?page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/tipos-veiculo?page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/tipos-veiculo?page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/tipos-veiculo?page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/transferencias-concedidas": {
      "get": {
        "operationId": "getTransferenciasConcedidasCapturaMunicipal",
        "summary": "Transferências Concedidas",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&tipoTransferencia=1&tipoLancamento=1&page=0&size=20\n```",
        "tags": [
          "Transferência"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio_integer"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_tipo_transferencia"
          },
          {
            "$ref": "#/components/parameters/param_query_tipo_lancamento"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transferencia_concedida_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "codUnidadeGestoraRecebedora": "101001",
                        "tipoTransferencia": 1,
                        "tipoLancamento": 1,
                        "valor": 170833.33,
                        "numeroConta": "0000000053694",
                        "codBanco": "001",
                        "numAgencia": "027146",
                        "tipoContaBancaria": 1,
                        "cnpjGerencia": "XXX",
                        "dataTransferencia": "2026-01-20"
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
                      "href": "https://api.example.com/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&page=20&size=20"
                    },
                    "next": {
                      "href": "https://api.example.com/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&page=21&size=20"
                    },
                    "last": {
                      "href": "https://api.example.com/municipal/captura/transferencias-concedidas?exercicio=2024&unidadeGestora=201001&page=50&size=20"
                    }
                  },
                  "page": 20,
                  "size": 20,
                  "count": 20,
                  "pages": 50,
                  "total": 1000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad_request_error"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized_error"
          },
          "415": {
            "$ref": "#/components/responses/unsupported_media_type"
          },
          "500": {
            "$ref": "#/components/responses/internal_server_error"
          }
        }
      }
    },
    "/estornos-liquidacoes": {
      "get": {
        "operationId": "getEstornosLiquidacoesCapturaMunicipal",
        "summary": "Estornos de Liquidações",
        "security": [
          {
            "BearerAuth": [
              "JWT-TOKEN"
            ]
          }
        ],
        "description": "Exemplo de uso:\n```\n/municipal/captura/estornos-liquidacoes?exercicio=2024&unidadeGestora=101001&mes=1&codigoUnidadeOrcamentaria=12345&numeroEmpenho=12345&numeroLiquidacao=12345&page=0&size=20\n```",
        "tags": [
          "Liquidação"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/param_query_exercicio"
          },
          {
            "$ref": "#/components/parameters/param_query_unidade_gestora"
          },
          {
            "$ref": "#/components/parameters/param_query_mes"
          },
          {
            "$ref": "#/components/parameters/param_query_cod_unidade_orcamentaria"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_empenho"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_liquidacao"
          },
          {
            "$ref": "#/components/parameters/param_query_numero_estorno"
          },
          {
            "$ref": "#/components/parameters/param_query_page"
          },
          {
            "$ref": "#/components/parameters/param_query_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/estorno_liquidacao_list_response_schema"
                },
                "example": {
                  "_embedded": {
                    "content": [
                      {
                        "codUnidadeGestora": "201001",
                        "codUnidadeOrcamentaria": "20700",
                        "anoEmissaoEmpenho": 2024,
                        "numEmpenho": "0000098",
                        "numeroLiquidacao": "0000001",
                        "numeroEstorno": "0000001",
                        "dataEstorno": "2024-01-19",
                        "motivoEstorno": "ANULAÇÃO EM VIRTUDE DE ALTERAÇÃO DA FONTE DE RECURSO.",
                        "valorEstornoLiquidacao": 1967.92
                      }
                    ]
                  },
                  "_links": {
                    "first": {
                      "href": "https://api.example.com/municipal/captura/estornos-liquidacoes?exercicio=2024&unidadeGestora=201001&page=0&size=20"
                    },
                    "prev": {
                      "href": "https://api.example.com/municipal/captura/estornos-liquidacoes?exercicio=2024&unidadeGestora=201001&page=19&size=20"
                    },
                    "self": {
[...]
